01_Presentaciones/Clase 02 Conceptos de los LLMs/Clase02_CD2.key
01_Presentaciones/Clase 03 Discusión sobre la IA/Clase03_Discusion_IA_reordenado.key
01_Presentaciones/Clase 03 Discusión sobre la IA/Referencias/04_Vibe Coding.key
01_Presentaciones/Clase 03 Discusión sobre la IA/Referencias/Clase04_CD2.key
01_Presentaciones/Clase 03 Discusión sobre la IA/Referencias/Clase05_CD2.key
01_Presentaciones/Clase 01 Introducción/Clase01_CD2.key
01_Presentaciones/Clase 01 Introducción/Clase01_CD2.key
