01_Presentaciones/Clase 02 Conceptos de los LLMs/Clase02_CD2.key
01_Presentaciones/Clase 03 Discusión sobre la IA/Clase03_Discusion_IA_reordenado.key
01_Presentaciones/Clase 03 Discusión sobre la IA/Referencias/04_Vibe Coding.key
01_Presentaciones/Clase 03 Discusión sobre la IA/Referencias/Clase04_CD2.key
01_Presentaciones/Clase 03 Discusión sobre la IA/Referencias/Clase05_CD2.key
01_Presentaciones/Clase 01 Introducción/Clase01_CD2.key
01_Presentaciones/Clase 01 Introducción/Clase01_CD2.key
01_Presentaciones/Clase 03 Discusión sobre la IA/Copia de Clase03_Discusion_IA_reordenado.key
01_Presentaciones/Clase 01 Introducción/Clase01_CD2.key
01_Presentaciones/Clase 03 Discusión sobre la IA/.DS_Store
01_Presentaciones/Clase 04 Prompting/Clase_04_Prompting.key
01_Presentaciones/Clase 04 Prompting/clase_prompting.key
01_Presentaciones/Clase 04 Prompting/Copia de clase_prompting.key
01_Presentaciones/Clase 01 Introducción/Clase01_CD2.key
01_Presentaciones/Clase 01 Introducción/Clase01_CD2.key
